# Learn more:
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# =========================================================
# Dependencies
# =========================================================
node_modules/

# =========================================================
# Expo
# =========================================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# =========================================================
# React Native / Metro
# =========================================================
.metro-health-check*
.metro/

# =========================================================
# Native
# =========================================================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Generated native folders
/ios
/android

# =========================================================
# Debug / Logs
# =========================================================
npm-debug.log*
npm-debug.*
yarn-debug.log*
yarn-debug.*
yarn-error.log*
yarn-error.*
pnpm-debug.log*
.pnpm-debug.log*

# =========================================================
# Environment files
# =========================================================
.env
.env.*
.env*.local

# =========================================================
# TypeScript
# =========================================================
*.tsbuildinfo

# =========================================================
# macOS
# =========================================================
.DS_Store

# =========================================================
# Certificates / Keys
# =========================================================
*.pem

# =========================================================
# IDE / Editor
# =========================================================
.vscode/
.idea/

# =========================================================
# OS generated files
# =========================================================
Thumbs.db
Desktop.ini